name: Sync translations
on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 * * * *'
jobs:
  sync:
    name: Sync translations
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: flarum-lang/sync-action@master
        env:
          LOKALISE_API_TOKEN: ${{ secrets.LOKALISE_API_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_PERSONAL_ACCESS_TOKEN: ${{ secrets.GITHUB_PERSONAL_ACCESS_TOKEN }}
          GITHUB_PERSONAL_ACCESS_USER: ${{ secrets.GITHUB_PERSONAL_ACCESS_USER }}
